<div id="map-canvas" class="full-viewport"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "application" %>
<script>
  var stores = <%= @stores.to_json %>;
</script>
