<div id="map-canvas" class="full-viewport"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "map" %>

<script type="text/x-jquery-tmpl" id="tmpl">
  <div>
    <p>
      <strong>${name}</strong><br />
      <span>${address}</span>
    </p>

    {{if picture}}
      <a href="${picture}" target="_blank"><img src="${picture}" alt="${name}" class="store-thumbnail" /></a><br />
      <button data-id="${id}" class="remove-picture">Remove picture</button>
    {{else}}
      <form data-id="${id}">
        <input type="hidden" name="_method" value="put" />
        <label>
          Image URL:
          <input type="text" name="store[picture]" />
        </label>
        <button type="submit">Add</button>
      </form>
    {{/if}}
  </div>
</script>

<script>
  $(function () {
    "use strict";

    window.DRQ.bootstrap(<%= @stores.to_json.html_safe %>);
  });
</script>
